.ad{
    background-color:wheat;
    text-align: center;
   }

.navbar{
   
    margin-top:1%; 
}
.jumbotron{
  
    margin-top:1%;  
    width: auto;
    height: 400px;
    }
    .nav-item{
        margin-left: 50px;
    }
    .form-inline input{
        width:400px !important;
    }
    