.img1{
    margin-top: 20px;
    width: 100%;
    height: 400px;
}

.img1 .bimg{
    width: 100%;
    height: 400px;


}
 .img1 .limg{

    position: absolute;
    border: 2px solid red;
    width: 158px;
    height: 142px;

    margin-bottom: 40px;
    margin-top: 273px;
    margin-left: 14px;
    
 
}
.content-wrapper{
    margin-top: 40px;
}
.job-box .card h5{
    margin-left: 15px;
}
.job-box .card .description{
   
width: 100%;
height: 381px;
background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
}
.apply button{
    width: 184px;
    height: 49px;
   
    
    background: #C4C4C4;}
